<table class="table">
    <thead>
        <tr>
            <th scope="col">Fecha Pedido</th>
            <th scope="col">DNI Cliente</th>
            <th scope="col">Sucursal</th>
            <th scope="col">Solicitud</th>
            <th scope="col">Estado</th>
            <th scope="col">Tipo Autorización</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead> 
    <tbody>
        <td scope="row">14/05/2021 10:51:04 a.m</td>
        <td>23456789</td>
        <td>42</td>
        <td>20</td>
        <td>PENDIENTE</td>
        <td>ALTA CREDITO</td>
        <button type="button" class="btn btn-success ">Aprobar</button>
        <button type="button" class="btn btn-primary ">Archivos</button>
        <button type="button" class="btn btn-info ">Detalle</button>
        <button type="button" class="btn btn-danger ">Rechazar</button>
        

        
        
        
        
        
    </tbody>   
    
    <tbody>
        <td scope="row">04/05/2021 02:37:05 a.m</td>
        <td>29098789</td>
        <td>44</td>
        <td>5710</td>
        <td>PENDIENTE</td>
        <td>ALTA CREDITO</td>
        <button type="button" class="btn btn-success">Aprobar</button>
        <button type="button" class="btn btn-primary">Archivos</button>
        <button type="button" class="btn btn-info">Detalle</button>
        <button type="button" class="btn btn-danger">Rechazar</button>
        
    </tbody>   

    <tbody>
        <td scope="row">04/05/2021 02:27:39 a.m</td>
        <td>29049037</td>
        <td>44</td>
        <td>5710</td>
        <td>APROBADO</td>
        <td>ALTA CREDITO</td>
        <button type="button" class="btn btn-success">Aprobar</button>
        <button type="button" class="btn btn-primary">Archivos</button>
        <button type="button" class="btn btn-info">Detalle</button>
        <button type="button" class="btn btn-danger">Rechazar</button>
        
    </tbody>   
</table>
